AUTHAPI_RUNTIME_ENVIRONMENT=dev

AUTHAPI_HOSTAPP=:8082
AUTHAPI_ORIGIN=*.platform.localhost
AUTHAPI_TIMEOUT=30

AUTHAPI_TOKEN_SOURCE=bearer
AUTHAPI_TOKEN_VALIDATE=internal

AUTHAPI_COOKIE_NAME=platform_rt
AUTHAPI_COOKIE_PATH=/auth/v1/
AUTHAPI_COOKIE_DOMAIN=
AUTHAPI_COOKIE_SAMESITE=lax
AUTHAPI_COOKIE_SECUREMODE=auto

AUTHAPI_DB_HOST=127.0.0.1
AUTHAPI_DB_PORT=5432
AUTHAPI_DB_USERNAME=postgres
AUTHAPI_DB_PASSWORD=postgres
AUTHAPI_DB_MASTERNAME=108-master
AUTHAPI_DB_AWSREGION=
AUTHAPI_DB_SSLMODE=disable
AUTHAPI_DB_DEBUG=true
AUTHAPI_DB_POOL_MAXIDLE=10
AUTHAPI_DB_POOL_MAXOPEN=50
AUTHAPI_DB_POOL_MAXLIFETIME=30m
AUTHAPI_DB_POOL_MAXIDLETIME=5m

AUTHAPI_AUTH_OTPTTL=10m
AUTHAPI_AUTH_OTPLENGTH=6
AUTHAPI_AUTH_REFRESHTTL=720h
AUTHAPI_AUTH_ACCESSTTL=15m
AUTHAPI_AUTH_AUDIENCE=platform-local
AUTHAPI_AUTH_ISSUER=http://127.0.0.1:8082
AUTHAPI_AUTH_JWTALG=rs256
AUTHAPI_AUTH_KEYSOURCE=secretsmanager
AUTHAPI_AUTH_JWTPRIVATEPEMPATH=
AUTHAPI_AUTH_JWTPUBLICPEMPATH=
AUTHAPI_AUTH_JWTPRIVATEPEMSECRETNAME=esafesys-sba-ess-auth-jwt-private
AUTHAPI_AUTH_JWTPUBLICPEMSECRETNAME=esafesys-sba-ess-auth-jwt-public
AUTHAPI_AUTH_JWTAWSREGION=
AUTHAPI_AUTH_JWTKMSKEYID=
AUTHAPI_AUTH_JWKSCACHETTL=10m
AUTHAPI_AUTH_RATELIMITIP=30/1m
AUTHAPI_AUTH_DEV_FIXEDOTP=999999

AUTHAPI_TENANTS_CACHETTL=1m
AUTHAPI_TENANTS_KEY=dev-tenant-codec-key-2026

AUTHAPI_NOTIFY_PROVIDEREMAIL=debug
AUTHAPI_NOTIFY_PROVIDERSMS=debug
AUTHAPI_NOTIFY_DISABLEEXTERNAL=true

AWS_PROFILE=esafesys-sba
AWS_REGION=us-east-1
