/*:root {
    --primary-main: #1976d2;
}*/

#root {
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* App.css */
.app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.app * {
    box-sizing: border-box;
}

.app.dark-theme {
    background-color: #292929;
}

/* Toolbar.css */
.app-toolbar {
    display: flex;
    position: fixed;
    height: 3.5rem;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    background: #1e63b8;
    /*border-bottom: 1px solid #ccc;*/
    z-index: 1000;
    -webkit-backface-visibility: hidden;
    /* Prevents jerky scrolling */
}

.toolbar-left {
    display: flex;
    align-items: center;
}

.toolbar-logo {
    margin-left: 1rem;
    height: 30px;
    margin-top: 5px;
}

.toolbar-right {
    display: flex;
    align-items: center;
}

/* Login.css */
.login-panel {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
}

.dark-theme .login-panel {
    background-color: #292929;
}

.login-panel .method-switch>* {
    width: 150px;
}

.lang-line {
    margin-top: 20px;
    color: #FFF;
}

.lang-line button,
.lang-line button:active {
    color: #FFF;
    opacity: 0.7;
}

.lang-line button:hover,
.lang-line button.active {
    color: #FFF;
    opacity: 1;
    text-decoration: underline;
}

@media (max-width: 520px) {
    .login-panel {
        /*max-width: calc( 100vw - 15px );*/
        width: calc(100vw - 10px);
        padding: 20px;
    }

    .login-panel .method-switch {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .login-panel .method-switch>* {
        width: 100%;
    }
}


/* Content.css */
.content-wrap {
    margin-top: 55px;
    padding-top: 10px;
    /*padding-bottom: 30px;
    height: calc(100vh - 55px);*/
    padding-bottom: calc(30px + env(safe-area-inset-bottom, 0px));
    height: calc(100vh - 55px - env(safe-area-inset-bottom, 0px));
    overflow: auto;
    background: #FAFAFA;
    box-sizing: border-box;
}

.app.dark-theme .content-wrap {
    background-color: #292929;
}

.content {
    padding: 3.5rem 1rem 1rem 1rem;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    /*min-height: 1500px;*/
}

/* Card.css */

.card-info {
    background-position: 100% 0;
    background-color: #DDF6FC !important;
    background-image: url('/assets/info-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 16px;
    padding: 2rem 2.25rem;
    min-height: 200px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.app.dark-theme .card-info {
    background-color: #667E85 !important;
    background-image: url('/assets/info-dark.jpg');
}

.card-info .card-info-text {
    font-weight: bold;
    color: #181C32;
    font-size: 1.5em;
}

.app.dark-theme .card-info .card-info-text {
    color: #CCC;
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 480px;
    height: fit-content;
    box-sizing: border-box;
}

@media (min-width: 500px) {
    .card {
        width: calc(50% - 8px);
    }
}

/* page.css */
.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.table-container table {
    min-width: 600px;
    width: 100%;
}

table {
    width: 100%;
    table-layout: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.table tr:hover {
    background-color: #f5f5f5;
}

.field-array>div>div,
.field-array>div>div>div {
    margin: 0px !important;
    padding: 0px;
    box-shadow: none;
}

.field-array .field-object>div>div:first-child {
    display: none;
}

.field-array .field-object>div>div:nth-child(2) {
    margin-top: 0px !important;
}

.field-array .MuiPaper-rounded {
    background: #FAFAFA;
    border-radius: 11px;
    /*box-shadow: none;*/
}


.dark-theme .field-array .MuiPaper-rounded {
    background: #282828;
    border-radius: 11px;
    /*box-shadow: none;*/
}

.field-array>div>div.MuiPaper-rounded {
    background: transparent;
}

.rjsf-hidden-field {
    background-color: #f5f5f5 !important;
}

.rjsf-hidden-field input,
.rjsf-hidden-field .MuiSelect-select {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.8) !important;
}


.dark-theme .rjsf-hidden-field {
    background-color: #282828 !important;
}

.dark-theme .rjsf-hidden-field input,
.dark-theme .rjsf-hidden-field .MuiSelect-select {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.8) !important;
}

.MuiButtonGroup-firstButton,
.MuiButtonGroup-middleButton,
.MuiButtonGroup-lastButton {
    border-color: #CCC !important;
}

td.sor-bottom {
    border-bottom: none;
    border-top: 1px solid rgb(224, 224, 224);
}

.app.dark-theme td.sor-bottom {
    border-bottom: none;
    border-top: 1px solid rgba(81, 81, 81, 1);
}

/* modal ca */
.modal-footer {
    background-color: white;
}

.dark-theme .modal-footer {
    background-color: #292929;
}

/* markerjs2 */
.__markerjs2_ {
    padding-top: 60px;
}

.markerjs-toolbar {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 4px !important;
    height: auto !important;
    background-color: #000;
}

.img-modal-hide {
    display: none !important;
}

.isdraft {
    color: #ff8c04;
}

.dark-theme .login-panel input:-webkit-autofill,
.dark-theme .login-panel input:-webkit-autofill:hover,
.dark-theme .login-panel input:-webkit-autofill:focus,
.dark-theme .login-panel input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #a4a4a4;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #f8f8f829;
}

/*.btn-svg:hover .btn-svg-point {
    fill: var(--primary-main);
}*/